body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans Condensed', sans-serif;
            /*CLEAR IT */
    display: flex;
    justify-content: center;
    align-items: center;
            /*CLEAR IT */
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.25rem;
}